@use 'variables' as *;
@use 'themes/light';
@use 'themes/virtual-purple';
@use 'themes/tech-blue';

:root {
  --header-bg: var(--primary-color);
  --footer-bg: var(--secondary-color);
  --card-bg: rgba(255, 255, 255, 0.9);
}

[data-theme="light"] {
  --card-bg: rgba(255, 255, 255, 0.9);
}

[data-theme="virtual-purple"] {
  --card-bg: rgba(138, 43, 226, 0.7);
}

[data-theme="tech-blue"] {
  --card-bg: rgba(15, 22, 33, 0.8);
}